[*.{kt,kts}]
ktlint_code_style = ktlint_official
# Composables are PascalCase by convention, which function-naming otherwise rejects.
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_max-line-length = disabled
